<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasileirão</title>
    <link rel="stylesheet" href="../static/css/brasileirao.css">
</head>
<body>
    <header>
        <img src="../static/imgs/Brasileirão.png">
        <h1>Brasileirão</h1>
        <div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="libertadores.html">Libertadores</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br>
    <div class="boxbrasil">
        
        <div>
            <h2>Jogos</h2>
            <table>
                <h4>6ª Rodada</h4>
                <tr class="trgrey">
                    <th>Data</th>
                    <th>Casa</th>
                    <th>Resultados</th>
                    <th>Fora</th>
                </tr>
                <tr>
                    <td>14/08/2024</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Internacional.png">
                            <p>Internacional</p>
                        </div>
                    </td>
                    <td>2 x 1</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Juventude.png">
                            <p>Juventude</p>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <h4>1ª Rodada</h4>
                <tr class="trgrey">
                    <th>Data</th>
                    <th>Casa</th>
                    <th>Resultados</th>
                    <th>Fora</th>
                </tr>
                    <tr>
                    <td>14/04/2024</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Vasco.png">
                            <p>Vasco</p>
                        </div>
                    </td>
                    <td> 2 x 1 </td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/gremio.png">
                            <p>Gêrmio</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>14/04/2024</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Corinthians.png">
                            <p>Corinthians</p>
                        </div>
                    </td>
                    <td> 0 x 0 </td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/atleticoMineiro.png">
                            <p>Atlético Mineiro</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>14/04/2024</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Athletico-PR.png">
                            <p>Athletico-PR</p>
                        </div>
                    </td>
                    <td> 4 x 0 </td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Cuiaba.png">
                            <p>Cuiaba</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <h2>Tabela</h2>
            <table>
                <tr class="trgrey">
                    <th>POS</th>
                    <th>Clubes</th>
                    <th>PON</th>
                    <th>JOG</th>
                    <th>VIT</th>
                    <th>EMP</th>
                    <th>DER</th>
                    <Th>SG</Th>
                    <th>GF</th>
                    <th>GS</th>
                </tr>
                <tr class="trg4">
                    <td>1ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Athletico-PR.png">
                            <p>Athletico-PR</p>
                        </div>
                    </td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+4</td>
                    <td>4</td>
                    <td>0</td>
                </tr>
                <tr class="trg4">
                    <td>2ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Internacional.png">
                            <p>Internacional</p>
                        </div>
                    </td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+1</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr class="trg4">
                    <td>3ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Vasco.png">
                            <p>Vasco</p>
                        </div>
                    </td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+1</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr class="trg4">
                    <td>4ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Corinthians.png">
                            <p>Corinthians</p>
                        </div>
                    </td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trg6">
                    <td>5ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/atleticoMineiro.png">
                            <p>Atlético Mineiro</p>
                        </div>
                    </td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trg6">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trg12">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trg12">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trg12">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trg12">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trg12">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trg12">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trgain">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trgain">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trgain">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trgain">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trz4">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trz4">
                    <td>ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/embranco.jpg">
                            <p>Time</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="trz4">
                    <td>3ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/Juventude.png">
                            <p>Juventude</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>-1</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr class="trz4">
                    <td>4ª</td>
                    <td class="tdleft">
                        <div class="divescudo">
                            <img src="../static/imgs/Brasil/gremio.png">
                            <p>Gêrmio</p>
                        </div>
                    </td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>-1</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                </table>

        </div>
    </div>
    
</body>
</html>