<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <header>
            <H1>CHAMPEONS</H1>
            <div>
                <nav>
                    <ul>
                        <li><a href="brasileirao.html">Brasileirão</a></li>
                        <li><a href="libertadores.html">Libertadores</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <br />
        <sections>
            <ul>
                <li><a href="libertadores.html"><div class="divescudo"><img src="../static/imgs/Libertadores.png"><p>Libertadores</p></div></a></li>
                <li><a href="brasileirao.html"><div class="divescudo"><img src="../static/imgs/Brasileirão.png"><p>Brasileirão</p></div></a></li>
            </ul>
        </sections>
        <br>
        <footer>

        </footer>
    </body>
</html>