<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <header>
            <img src="../static/imgs/Libertadores.png">
            <h1>Libertadores</h1>
            <div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="brasileirao.html">Brasileirão</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <br />
            <h2><a name="inicio">Jogos</a></h2>
            <h2><a href="#tabela">Tabela</a></h2>
            
            <diV class="boxbrasil">
                <div>
                    <h3 class="h3jo">Oitavas de Finais</h3>
                    <table>
                    <tr class="trgrey">
                        <th>Data</th>
                        <th>Casa</th>
                        <th>Resultados</th>
                        <th>Fora</th>
                    </tr>
                    <tr>
                        <td>13/08/2024</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/gremio.png">
                                <p>Gêrmio</p>
                            </div>
                        </td>
                        <td>2 x 1</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/fluminense.png">
                                <p>Fluminense</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>13/08/2024</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/colocolo.png">
                                <p>Colo-Colo</p>
                            </div>
                        </td>
                        <td>1 x 0</td>

                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/juniorbarraquilla.png">
                                <p>Júnior Barraquilla</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>13/08/2024</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/saolourenço.png">
                                <p>São Lourenço</p>
                            </div>
                        </td>
                        <td>1 x 1</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/atleticoMineiro.png">
                                <p>Atlético Mineiro</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>14/08/2024</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Penarol.png">
                                <p>Peñarol</p>
                            </div>
                        </td>
                        <td>4 x 0</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/thestrongest.png">
                                <p>The Strongest</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>14/08/2024</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Talleres.png">
                                <p>Talleres</p>
                            </div>
                        </td>
                        <td>1 x 0</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/riverplates.png">
                                <p>River Plates</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>14/08/2024</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/Botafogo.png">
                                <p>Botafogo</p>
                            </div>
                        </td>
                        <td> 2 x 1 </td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/Palmeiras.png">
                                <p>Palmeiras</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>15/08/2024</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/NacionalUru.png">
                                <p>Nacional-URU</p>
                            </div>
                        </td>
                        <td> 0 x 0 </td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/SãoPaulo.png">
                                <p>São Paulo</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>15/08/2024</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/Flamengo.png">
                                <p>Flamengo</p>
                            </div>
                        </td>
                        <td> 2 x 0 </td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Bolivar.png">
                                <p>Bolivar</p>
                            </div>
                        </td>
                    </tr>
                    </table>
                </div>

            
                <br />
                <div>
                    <h3><a name="tabela">Tabela</a></h3>
                    <table>
                    <tr class="trgrey">
                        <th>POS</th>
                        <th>Clubes</th>
                        <th>PON</th>
                        <th>JOG</th>
                        <th>VIT</th>
                        <th>EMP</th>
                        <th>DER</th>
                        <Th>SG</Th>
                        <th>GF</th>
                        <th>GS</th>
                    </tr>
                    <tr class="trgain">
                        <td>1ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Penarol.png">
                                <p>Peñarol</p>
                            </div>
                        </td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>+4</td>
                        <td>4</td>
                        <td>0</td>
                    </tr>
                    <tr class="trgrey">
                        <td>2ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/Flamengo.png">
                                <p>Flamengo</p>
                            </div>
                        </td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>+2</td>
                        <td>2</td>
                        <td>0</td>
                    </tr>
                    <tr class="trgain">
                        <td>3ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/gremio.png">
                                <p>Gêrmio</p>
                            </div>
                        </td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>+1</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgrey">
                        <td>4ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/Botafogo.png">
                                <p>Botafogo</p>
                            </div>
                        </td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>+1</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgain">
                        <td>5ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/colocolo.png">
                                <p>Colo-Colo</p>
                            </div>
                        </td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>+1</td>
                        <td>1</td>
                        <td>0</td>
                    </tr>
                    <tr class="trgrey">
                        <td>6ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/riverplates.png">
                                <p>River Plates</p>
                            </div>
                        </td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>+1</td>
                        <td>1</td>
                        <td>0</td>
                    </tr>
                    <tr class="trgain">
                        <td>7ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/saolourenço.png">
                                <p>São Lourenço</p>
                            </div>
                        </td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgrey">
                        <td>8ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/atleticoMineiro.png">
                                <p>Atlético Mineiro</p>
                            </div>
                        </td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgain">
                        <td>9ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/SãoPaulo.png">
                                <p>São Paulo</p>
                            </div>
                        </td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                    </tr>
                    <tr class="trgrey">
                        <td>10ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/NacionalUru.png">
                                <p>Nacional-URU</p>
                            </div>
                        </td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                    </tr>
                    <tr class="trgain">
                        <td>11ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/fluminense.png">
                                <p>Fluminense</p>
                            </div>
                        </td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>-1</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr class="trgrey">
                        <td>12ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Brasil/Palmeiras.png">
                                <p>Palmeiras</p>
                            </div>
                        </td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>-1</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr class="trgain">
                        <td>13ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/juniorbarraquilla.png">
                                <p>Júnior Barraquilla</p>
                            </div>
                        </td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>-1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgrey">
                        <td>14ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Talleres.png">
                                <p>Talleres</p>
                            </div>
                        </td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>-1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                    <tr class="trgain">
                        <td>15ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/Bolivar.png">
                                <p>Bolivar</p>
                            </div>
                        </td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>-2</td>
                        <td>0</td>
                        <td>2</td>
                    </tr>
                    <tr class="trgrey">
                        <td>16ª</td>
                        <td class="tdleft">
                            <div class="divescudo">
                                <img src="../static/imgs/thestrongest.png">
                                <p>The Strongest</p>
                            </div>
                        </td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>-4</td>
                        <td>0</td>
                        <td>4</td>
                    </tr>
                    </table>
                </div>
                <div class="boxylw">
                    <p><b>POS</b> = Posição, <b>PON</b> = Pontos, <b>JOG</b> = Jogos, <b>VIT</b> = Vitória, <b>EMP</b> = Empates, <b>DER</b> = Derrotas, <b>SG</b> = Saldo de Gols, <b>GF</b> = Gols Feitos, <b>GS</b> = Gols Sofridos</p>
                </div>
            </div>
            <p><a href="#inicio">Inicio</a></p>
        <br />
        <footer>

        </footer>
    </body>
</html>